.headerclass {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #272727;
  /* margin-bottom: 50px; */
}
.headlogodiv {
  margin-left: 37px;
}
.logoimg {
  height: 35px;
  width: 100px;
}
.homejobsdiv {
  display: flex;
}

/*  ****left side of jobs lay out starts from here*****   */
.jobs_layout_container {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 0px;
  background-color: #000000;
}

.profile_and_other_checkboxes_div {
  margin-left: 20px;
  padding-left: 12px;
}
.profile_picture_div {
  background-image: url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
  padding: 5px;
  margin: 5px;
  /* height: 230px; */
  height: auto;
  background-size: cover;
  width: 75%;
  /* width: auto; */
  border-radius: 18px;
  margin-top: 45px;
  padding-left: 15px;
}
.jobs_div {
  /* border: px solid #ccc; */
}
.profileimg {
  height: 47px;
  width: 45px;
  padding: 2px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.pofile-description-div {
  margin-bottom: 2px;
  margin: 1px;
  margin-left: 0px;
}
.profile-heading {
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 8px;
  color: #6366f1;
  margin: 0px;
}
.profile-description {
  font-size: 20px;
  margin: 0px;
  color: #6366f1;
}
.vertical-hr-div {
  height: 200px;
  display: flex;
  align-items: center;
}
.custom-hr-div {
  margin: 25px;
  width: 84%;
  margin-left: 10px;
}
.type-of-employement-checkboxes-div {
  /* margin-left: 35px; */
  font-family: roboto;
}
.type-of-employement-heading-div {
}
.type-of-employement-cls {
  color: #ffffff;
}
.all-employment-checkboxes {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.individual-checkboxex-lables {
  font-family: roboto;

  color: #ffffff;
  margin-bottom: 10px;
}
.inputs {
  margin-right: 10px;
}
.searchbar-and-icon-div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
}
.eachjob-div {
  margin-left: -80px;
  margin-top: -18px;
}
.empty-list-div {
  margin-right: 30px;
  padding-left: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nojobsfound {
  height: 300px;
  margin-top: 90px;
  margin-left: 70px;
}
.nojobs-headind-discription-div {
  margin-top: -10px;
  padding-left: 180px;
}
.no-jobs-found-heading {
  color: #ffffff;
}
.no-jobs-found-discription {
  color: #ffffff;
}
